h1 {
  color: hotpink;
  text-decoration: underline dotted purple;
}

h2 {
  font-family: initial;
}

ul {
  background-color: #eeeeee;
  padding: 5px;
  border: 5px purple solid;
}

ul li {
  margin-left: 20px;
}

ul li:hover {
  color: skyblue;
  font-weight: bolder;
}

a:hover {
  color: green;
}